* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1efef;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
  
    margin: 0;
  }

  img {
    width: 10%;
  }
  
  .wrapper {
    max-width: 95%;
    margin: 0 auto;
  }
  
  header nav ul {
    padding: 0;
    list-style: none;
  
    display: flex;
    gap: 1rem;
  }
  
  h1 {
    font-size: 1.602rem;
  }
  
  h2 {
    font-size: 1.424rem;
  }
  
  h3 {
    font-size: 1.266rem;
    margin: 0;
  }

  footer {
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}